



.homepage-line {
    background-color: #7166FF;
}

.hero {
    height: 100vh;
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .hero {
        height: auto;
        display: block;
        padding-top: 50px;
        background:#323232;
    }
}






.hero-left {
    width: 50vw;
    background-color: #323232;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23403e3e' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    background-position: -25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .hero-left {
        width: 85%;
        justify-content: flex-start;
        margin: auto;
    }
}

.hero-left-content {
    width: 70%;
}

@media only screen and (max-width: 1000px) {
    .hero-left-content {
        width: 100%;
    }
}

.hero-left-content img {
    height: 54px;
    width: 54px;
}

.logo img {
    height: 50px;
    width: 50px;
    margin-top: 25px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

.logo img:hover {
    transform:scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
}

.hero-left h1 {
    margin-bottom: 20px;
}

.hero-right {
    width: 50vw;
    background-color: #323232;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23403e3e' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .hero-right {
        width: 85%;
        background-image: none;
        justify-content: flex-start;
        margin: auto;
    }
}

.hero-right-content {
    width: 100%;
}

.hero-right-nav {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

@media only screen and (max-width: 1000px) {
    .hero-right-nav {
        justify-content: flex-start;
    }
}

.hero-right-nav:hover {
    transform:scale(1.02,1.02);
    -webkit-transform:scale(1.02,1.02);
    -moz-transform:scale(1.02,1.02);
}

.hero-right-nav-textbox {
    height: 85px;
    width: 64%;
    line-height: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50);
    border-radius: 0px 5px 5px 0px;
    padding: 0px 20px 0px 20px;
}



@media only screen and (max-width: 1000px) {
    .tophero {
      color:#fff;
    }


    .hero-right-nav-textbox {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
     .tophero {
        color: #fff;
    }

    .hero-right-nav-textbox {
        height: 70px;
    }
}

@media only screen and (max-width: 700px) {
     .tophero {
        color: #fff;
    }

    .hero h3 {
        font-size: 28px;
    }
}

.hero-right-nav-textbox a {
    display: flex;
    align-items: center;
}

.hero-right-nav-textbox a img {
    height: 36px;
    width: 36px;
    padding-bottom: 6px;
    padding-right: 6px;
}

@media only screen and (max-width: 700px) {
    .tophero {
        color: #fff;
    }

    .hero-right-nav-textbox a img {
        height: 28px;
        width: 28px;
    }
}

.hero-right-nav-label {
    height: 85px;
    width: 10px;
    min-width: 5px;
    border-radius: 5px 0px 0px 5px;
}

@media only screen and (max-width: 700px) {
    .tophero {
        color: #fff;
    }

    .hero-right-nav-label {
        height: 70px;
    }
}

.tools-design {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.tools-development {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.tools-miscellaneous {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.tools-contentbox {
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50);
    display: flex;
    align-items: center;
    position: relative;
}

.tools-label {
    height: 100%;
    width: 10px;
    border-radius: 5px 0px 0px 5px;
    position: absolute;
}

@media only screen and (min-width: 768px) {
    .tophero {
        color: #000;
    }

    .tools-label {
        min-width: 10px;
    }
}

@media only screen and (min-width: 500px) {
     .tophero {
        color: #fff;
    }

    .tools-label {
        min-width: 8px;
    }
}

#tools-label-design {
    background-color: #FF718E;
}

#tools-label-development {
    background-color: #71FF9A;
}
#tools-label-miscellaneous {
    background-color: #F171FF;
}

.tools h4 {
    margin-left: 15px;
}

.tools-logos {
    display: flex;
    flex-wrap: wrap;
}

.tools-logos img {
    
    width: 51%;
    margin: 30px 30px 30px 30px;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 350ms;
    transition-timing-function: ease;
    transition-delay: initial;
}

@media only screen and (max-width: 1024px) {
    .tools-logos img {
        height: 120px;
        width: 120px;
    }
}

@media only screen and (max-width: 768px) {
    .tools-logos img {
        height: 110px;
        width: 110px;
        margin: 20px 20px 20px 20px;
    }
}

@media only screen and (max-width: 370px) {
    .tools-logos img {
        height: 90px;
        width: 90px;
        margin: 20px 20px 20px 20px;
    }
}

.tools-logos-available img:hover {
    transform:scale(1.05,1.05);
    -webkit-transform:scale(1.05,1.05);
    -moz-transform:scale(1.05,1.05);
    box-shadow: 0 5px 15px 0 rgba(127,127,127,0.50);
}

.tools-logos-unavailable {
    cursor: not-allowed;
    opacity: 0.2;
}

.custom p {
    width: 50%;
}

@media only screen and (max-width: 1023px) {
    .custom p {
        width: 100%;
    }
}

.custom-images {
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
    .custom-images {
        display: block;
    }
}

.custom-images img {
    width: 50%;
    height: 50%;
}

@media only screen and (max-width: 1024px) {
    .custom-images img {
        width: 100%;
    }
}